<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="helloService" class="net.cooliang.dubbo.provider.service.impl.HelloServiceImpl"></bean>

	<bean id="serviceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<!-- 服务 -->
		<property name="service" ref="demoService" />
		<!-- 发布的服务名 -->
		<property name="serviceName" value="demoService" />
		<!-- 服务对应的接口 -->
		<property name="serviceInterface" value="net.cooliang.dubbo.api.service.DemoService" />
		<!-- 服务绑定的端口 -->
		<property name="registryPort" value="9999" />
	</bean>
</beans>